<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>TODO List</title>
  </head>
  <body>
    <main>
      <div class="title">
        <div class="icon"><i class="fas fa-bars"></i></div>
        <h2 class="headline">Website todo</h2>
      </div>
      <div class="list">
        <div class="main_list">
          <ul id="taskList">
            <li>
              <input type="radio" />buy food <i class="fas fa-trash-alt"></i>
            </li>
          </ul>
        </div>
        <div class="form">
          <div class="add_button">
            <button id="add_task">+ New Task</button>
          </div>
          <form>
            <input
              type="text"
              placeholder="tack name"
              id="taskBody"
              name="taskName"
            />
            <button id="addToTask">+</button>
          </form>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
