* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(227, 233, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 30%;
  margin: auto;
}
.title {
  display: flex;
  height: 55px;
  background-color: rgba(175, 126, 235, 255);
  color: white;
}
.title .headline {
  width: 100%;
  align-self: center;
  text-align: center;
}
.title .icon {
  align-self: center;
  margin-left: 11px;
}
.title .icon i {
  font-size: 1.2rem;
}

.list {
  background-color: rgba(255, 255, 255, 255);
  margin-top: 25px;
  height: auto;
  padding: 40px;
}

.list .main_list ul {
  list-style-type: none;
  color: rgba(147, 156, 188, 255);
}
.list .main_list ul li {
  margin: 10px 0;
}
.list .main_list ul li input {
  margin-right: 20px;
}
.list .main_list ul li i {
  position: relative;
  float: right;
}

.list .form .add_button {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  top: 62px;
}
.list .form .add_button button {
  display: none;
  width: 190px;
  height: 45px;
  border: none;
  background-color: rgba(175, 126, 235, 255);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 17px;
  cursor: pointer;
}
.list .form form {
	position: relative;
	display: flex;
	justify-content: center;
	top: 34px;
}
.list .form form input {
	width: 80%;
	height: 45px;
	border-radius: 5px;
	border: solid #939cbc 1px;
	margin-right: 10px;
	padding: 0 12px;
}
.list .form form button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background-color: rgba(175,126,235,255);
	color: white;
	font-size: 26px;
	padding-bottom: 4px;
}
.displayNone{
  display: none!important;
}
.displayInitial{
  display: initial!important;
}